.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-ligth {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.outfit-medium {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    /* propiedades de espaciado */
    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;
    /* la propiedad magica */
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

body {
    color: #313131;
    font-family: "Outfit", sans-serif, Young Serif;
    background-color:hsl(30, 54%, 90%);
    padding: 150px;

.container {
    display: flex;
    flex-direction: column;
    background-color:  hsl(330, 100%, 98%);
}
}